<body ng-controller='UrlsController as url'>
<% if @url.any? && current_user %>
<% @url.each do |url| %>

    <h2> <%= url.name if url.user == current_user%> </h2>
    <h2> <%= url.link if url.user == current_user%> </h2>
  <% end %>

<% end %>

<% if current_user %>
<p>Add link</p>
  <%= form_for @url.new do |f| %>
    <%= f.label :link %>
    <%= f.text_field :link, required: true %>
    <%= f.submit %>
  <% end %>
  <div class="container" ng-view>
    <section>
      <button ng-hide="url.loaded" ng-click="url.showBias()" class="button">Show my bias</button>
      <button ng-show="url.loaded" ng-click="url.hideBias()" class="button">Hide my bias</button>
      <div id='show_bias' ng-show="url.loaded"> My bias rating: {{url.analysisResponse}} </div>
      <button ng-hide="url.furtherInfoLoaded" ng-click="url.showBreakDown()" class="button">Show my media diet</button>
      <button ng-show="url.furtherInfoLoaded" ng-click="url.hideBreakDown()" class="button">Hide my media diet</button>
      <div id='show_diet' ng-show="url.furtherInfoLoaded"> My media diet: {{url.breakdownResponse}} </div>
    </section>
    <section>
      <button ng-hide="url.suggestionsLoaded" ng-click="url.showSuggestions()" class="button">What paper should I read?</button>
      <button ng-show="url.suggestionsLoaded" ng-click="url.hideSuggestions()" class="button">Hide suggestions</button>
      <div id='show_suggest' ng-show="url.suggestionsLoaded"> Suggested Papers: {{url.suggestionsResponse}} </div>
    </section>
    <section>
      <button ng-click="url.getSuggestions()" class="button">Get me an article</button>
      <a id='click_me' ng-show="url.articleLoaded" href="{{url.articles}}">Click Me</a>
    </section>
  </div>
<% else %>
  <header> Welcome to Opposing Views </header>
  <h6> Sign up, input your daily reading habits, and we'll balance your media diet... </h6>
<% end %>
</body>
