
<body ng-controller='analysisController as analysisCtrl'>

  <% if current_user %>
    <p>Add link</p>
      <%= form_for @url.new do |f| %>
        <%= f.label :link %>
        <%= f.text_field :link, required: true %>
        <%= f.submit %>
  <% end %>

  <%= render "urls/user_urls" %>

  <div class="container" ng-view>
    <%= render "analysis/analysis" %>
    <%= render "suggestions/suggestions" %>
  </div>

  <% else %>
    <p> Sign up to get involved </p>
  <% end %>
</body>
