<body ng-controller='UrlsController as url'>
  <button ng-hide="url.userUrlsLoaded" ng-click="url.showRecentUrls()">Show me what I've read recently</button>
  <button ng-show="url.userUrlsLoaded" ng-click="url.hideRecentUrls()">Hide what I've read recently</button>
<aside ng-show="url.userUrlsLoaded" >

<% if @url.any? && current_user %>
<% @url.each do |url| %>

    <h2> <%= url.name if url.user == current_user%> </h2>
    <h2> <%= url.link if url.user == current_user%> </h2>
  <% end %>
<% else %>
  No urls yet
<% end %>
</aside>
<% if current_user %>


<p>Add link</p>
  <%= form_for @url.new do |f| %>
    <%= f.label :link %>
    <%= f.text_field :link, required: true %>
    <%= f.submit %>
  <% end %>

  <div class="container" ng-view>
    <section class="analysis">
      <button ng-hide="url.loaded" ng-click="url.showBias()">Show my bias</button>
      <button ng-show="url.loaded" ng-click="url.hideBias()">Hide my bias</button>
      <h1 ng-show="url.loaded"> My bias rating: {{url.analysisResponse}} </h1>
      <button ng-hide="url.furtherInfoLoaded" ng-click="url.showBreakDown()">Show my media diet</button>
      <button ng-show="url.furtherInfoLoaded" ng-click="url.hideBreakDown()">Hide my media diet</button>
      <h1 ng-show="url.furtherInfoLoaded">
        Your media diet:
        <h2 ng-show="url.furtherInfoLoaded" ng-repeat="source in url.sources track by $index">
        {{source}} {{url.percentageRead[$index]}}% </h2>
        <!-- - <h2 ng-repeat="percentageRead in url.percentageRead "> </h2> -->
        - As you can see, not as balanced as it could be.
      </h1>
      <div ng-repeat="title in titles">
   {{title}}, {{links[$index]}}
</div>
    </section>

    <section class=suggestion>
      <div ng-hide="url.searchingForLink">
      <button ng-hide="url.suggestionsLoaded"  ng-click="url.showSuggestions()">What paper should I read?</button>
      <button ng-show="url.suggestionsLoaded" ng-click="url.getSuggestions()">Help me balance my bias</button>
      <h1 ng-show="url.suggestionsLoaded"> Suggested Papers: {{url.suggestionsResponse}} </h1>
    </div class="suggestion-served" ng-repeat="articles in url.articles">
      <h1 ng-show="url.searchingForLink"> Crunching the numbers... </h1>
      <a ng-show="url.articleLoaded" href="{{url.urlLink}}">
        <img id="article-image" src="{{ url.img}}" alt="article-image">
        {{url.title}}
      </a>
    </div>
    </section>

<% else %>
  <p> Sign up to get involved </p>
<% end %>
</body>
